[submodule "plugins/popup-el"]
	path = plugins/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "plugins/emacs-neotree"]
	path = plugins/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugins/sublimity"]
	path = plugins/sublimity
	url = https://github.com/zk-phi/sublimity.git
