[submodule "plugins/popup-el"]
	path = plugins/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "plugins/emacs-neotree"]
	path = plugins/emacs-neotree
	url = git@github.com:jaypei/emacs-neotree.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
